util/src/main/java/com/scofen/util/xml/xsd/FuModel.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="功能模型">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="工程Id" type="xs:long"/>
                <xs:element name="功能Id" type="xs:long"/>
                <xs:element name="节点数据集合">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="左侧端口集合">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="功能模型ID">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="功能树" type="xs:long"/>
                                                    <xs:element name="功能码" type="xs:string"/>
                                                    <xs:element name="功能名称" type="xs:string"/>
                                                    <xs:element name="备注" type="xs:string"/>
                                                    <xs:element name="父节点" type="xs:long"/>
                                                    <xs:element name="父节点路径" type="xs:string"/>
                                                    <xs:element name="来源主键" type="xs:string"/>
                                                    <xs:element name="顺序" type="xs:integer"/>
                                                    <xs:element name="位置" type="xs:string"/>
                                                    <xs:element name="审核时间" type="xs:dateTime"/>
                                                    <xs:element name="提交时间" type="xs:dateTime"/>
                                                    <xs:element name="审核意见" type="xs:string"/>
                                                    <xs:element name="工程" type="xs:long"/>
                                                    <xs:element name="创建时间" type="xs:dateTime"/>
                                                    <xs:element name="更新时间" type="xs:dateTime"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="端口序号" type="xs:integer"/>
                                        <xs:element name="初始值" type="xs:decimal"/>
                                        <xs:element name="门限值" type="xs:decimal"/>
                                        <xs:element name="dfDt" type="xs:string"/>
                                        <xs:element name="信号说明" type="xs:string"/>
                                        <xs:element name="审核时间" type="xs:dateTime"/>
                                        <xs:element name="提交时间" type="xs:dateTime"/>
                                        <xs:element name="审核意见" type="xs:string"/>
                                        <xs:element name="工程" type="xs:long"/>
                                        <xs:element name="创建时间" type="xs:dateTime"/>
                                        <xs:element name="更新时间" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="右侧端口集合">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="功能模型ID">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="功能树" type="xs:long"/>
                                                    <xs:element name="功能码" type="xs:string"/>
                                                    <xs:element name="功能名称" type="xs:string"/>
                                                    <xs:element name="备注" type="xs:string"/>
                                                    <xs:element name="父节点" type="xs:long"/>
                                                    <xs:element name="父节点路径" type="xs:string"/>
                                                    <xs:element name="来源主键" type="xs:string"/>
                                                    <xs:element name="顺序" type="xs:integer"/>
                                                    <xs:element name="位置" type="xs:string"/>
                                                    <xs:element name="审核时间" type="xs:dateTime"/>
                                                    <xs:element name="提交时间" type="xs:dateTime"/>
                                                    <xs:element name="审核意见" type="xs:string"/>
                                                    <xs:element name="工程" type="xs:long"/>
                                                    <xs:element name="创建时间" type="xs:dateTime"/>
                                                    <xs:element name="更新时间" type="xs:dateTime"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="端口序号" type="xs:integer"/>
                                        <xs:element name="初始值" type="xs:decimal"/>
                                        <xs:element name="门限值" type="xs:decimal"/>
                                        <xs:element name="dfDt" type="xs:string"/>
                                        <xs:element name="信号说明" type="xs:string"/>
                                        <xs:element name="审核时间" type="xs:dateTime"/>
                                        <xs:element name="提交时间" type="xs:dateTime"/>
                                        <xs:element name="审核意见" type="xs:string"/>
                                        <xs:element name="工程" type="xs:long"/>
                                        <xs:element name="创建时间" type="xs:dateTime"/>
                                        <xs:element name="更新时间" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="单元类型" type="xs:string"/>
                            <xs:element name="是否分组" type="xs:boolean"/>
                            <xs:element name="分组" type="xs:string"/>
                            <xs:element name="表决值" type="xs:integer"/>
                            <xs:element name="是否可编辑" type="xs:boolean"/>
                            <xs:element name="功能树" type="xs:long"/>
                            <xs:element name="功能码" type="xs:string"/>
                            <xs:element name="功能名称" type="xs:string"/>
                            <xs:element name="备注" type="xs:string"/>
                            <xs:element name="父节点" type="xs:long"/>
                            <xs:element name="父节点路径" type="xs:string"/>
                            <xs:element name="来源主键" type="xs:string"/>
                            <xs:element name="顺序" type="xs:integer"/>
                            <xs:element name="位置" type="xs:string"/>
                            <xs:element name="审核时间" type="xs:dateTime"/>
                            <xs:element name="提交时间" type="xs:dateTime"/>
                            <xs:element name="审核意见" type="xs:string"/>
                            <xs:element name="工程" type="xs:long"/>
                            <xs:element name="创建时间" type="xs:dateTime"/>
                            <xs:element name="更新时间" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="连线数据集合">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="功能模型连线" type="xs:long"/>
                            <xs:element name="列中文名称">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="功能树" type="xs:long"/>
                                        <xs:element name="功能码" type="xs:string"/>
                                        <xs:element name="功能名称" type="xs:string"/>
                                        <xs:element name="备注" type="xs:string"/>
                                        <xs:element name="父节点" type="xs:long"/>
                                        <xs:element name="父节点路径" type="xs:string"/>
                                        <xs:element name="来源主键" type="xs:string"/>
                                        <xs:element name="顺序" type="xs:integer"/>
                                        <xs:element name="位置" type="xs:string"/>
                                        <xs:element name="审核时间" type="xs:dateTime"/>
                                        <xs:element name="提交时间" type="xs:dateTime"/>
                                        <xs:element name="审核意见" type="xs:string"/>
                                        <xs:element name="工程" type="xs:long"/>
                                        <xs:element name="创建时间" type="xs:dateTime"/>
                                        <xs:element name="更新时间" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="输出节点">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="功能树" type="xs:long"/>
                                        <xs:element name="功能码" type="xs:string"/>
                                        <xs:element name="功能名称" type="xs:string"/>
                                        <xs:element name="备注" type="xs:string"/>
                                        <xs:element name="父节点" type="xs:long"/>
                                        <xs:element name="父节点路径" type="xs:string"/>
                                        <xs:element name="来源主键" type="xs:string"/>
                                        <xs:element name="顺序" type="xs:integer"/>
                                        <xs:element name="位置" type="xs:string"/>
                                        <xs:element name="审核时间" type="xs:dateTime"/>
                                        <xs:element name="提交时间" type="xs:dateTime"/>
                                        <xs:element name="审核意见" type="xs:string"/>
                                        <xs:element name="工程" type="xs:long"/>
                                        <xs:element name="创建时间" type="xs:dateTime"/>
                                        <xs:element name="更新时间" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="输入节点">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="功能树" type="xs:long"/>
                                        <xs:element name="功能码" type="xs:string"/>
                                        <xs:element name="功能名称" type="xs:string"/>
                                        <xs:element name="备注" type="xs:string"/>
                                        <xs:element name="父节点" type="xs:long"/>
                                        <xs:element name="父节点路径" type="xs:string"/>
                                        <xs:element name="来源主键" type="xs:string"/>
                                        <xs:element name="顺序" type="xs:integer"/>
                                        <xs:element name="位置" type="xs:string"/>
                                        <xs:element name="审核时间" type="xs:dateTime"/>
                                        <xs:element name="提交时间" type="xs:dateTime"/>
                                        <xs:element name="审核意见" type="xs:string"/>
                                        <xs:element name="工程" type="xs:long"/>
                                        <xs:element name="创建时间" type="xs:dateTime"/>
                                        <xs:element name="更新时间" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="输出节点端口" type="xs:long"/>
                            <xs:element name="输入节点端口" type="xs:long"/>
                            <xs:element name="线的位置" type="xs:string"/>
                            <xs:element name="连接线形式" type="xs:string"/>
                            <xs:element name="线相交形式" type="xs:string"/>
                            <xs:element name="调整后的线位置" type="xs:string"/>
                            <xs:element name="线上描述的位置" type="xs:string"/>
                            <xs:element name="描述" type="xs:string"/>
                            <xs:element name="审核时间" type="xs:dateTime"/>
                            <xs:element name="提交时间" type="xs:dateTime"/>
                            <xs:element name="审核意见" type="xs:string"/>
                            <xs:element name="工程" type="xs:long"/>
                            <xs:element name="创建时间" type="xs:dateTime"/>
                            <xs:element name="更新时间" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
